/* BACKGROUND IMAGE */
body {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  font-family: Arial, sans-serif;
  text-align: center;

  padding: 20px;
  margin: 0;
}

/* OVERLAY NWA */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}

/* NON SITE */
.site-name {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

/* BOX */
.box {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  margin: 15px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
}

/* INPUT & SELECT */
input, select {
  width: 90%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

/* PAIEMENT */
.paiement {
  border: 2px solid #00ff99;
}
